<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.003.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom CSS -->

</head>

<body>
    <style>

    </style>

    <!-- Page Content -->
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" th:fragment="copy">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#tenure-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/}">
                        <img class="img-responsive" th:src="@{/images/seal.jpg}" src="images/seal.jpg" alt=""></img>
                    </a>

                    <a class="navbar-brand uh-nav-app-name" th:href="@{/}" sec:authorize="isAnonymous()">
                        University of Hawai&#39;i
                    </a>
                    <a class="navbar-brand uh-nav-app-name" th:href="@{/}" sec:authorize="isAuthenticated()">
                        Tenure <span class="amp">&amp;</span> Promotion
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="tenure-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a th:href="@{/}">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Help <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/help/contact}">Contact</a></li>
                                <li><a th:href="@{/help/faq}">FAQ</a></li>
                                <li><a th:href="@{/help/classifications}">Classifications</a></li>
                                <li><a th:href="@{/help/guidelines}">Guidelines</a></li>
                            </ul>
                        </li>
                        <li class="dropdown" sec:authorize="hasAnyRole('ADMINISTRATOR', 'COORDINATOR', 'SUPERUSER')">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a th:href="@{/admin}" sec:authorize="hasRole('SUPERUSER')">Administration</a></li>
                                <li class="divider" sec:authorize="hasRole('SUPERUSER')"></li>
                                <li><a th:href="@{/admin/office/coordinator}" sec:authorize="hasAnyRole('ADMINISTRATOR', 'SUPERUSER')">Coordinators</a></li>
                                <li class="divider" sec:authorize="hasAnyRole('ADMINISTRATOR', 'SUPERUSER')"></li>
                                <li><a th:href="@{/admin/application}" sec:authorize="hasRole('SUPERUSER')">Applications</a></li>
                                <li><a th:href="@{/admin/application/reviewer}" sec:authorize="hasRole('SUPERUSER')">Committees</a></li>
                                <li><a th:href="@{/admin/application/role}">Application Roles</a></li>
                                <li><a th:href="@{/admin/application/state}">Application States</a></li>
                                <li><a th:href="@{/admin/application/type}">Application Types</a></li>
                                <li><a th:href="@{/admin/appointment/rank}">Appointment Ranks</a></li>
                                <li><a th:href="@{/admin/appointment/type}">Appointment Types</a></li>
                                <li><a th:href="@{/admin/campus}">Campuses</a></li>
                                <li><a th:href="@{/holiday}">Holidays</a></li>
                                <li><a th:href="@{/admin/office}">Offices</a></li>
                                <li class="divider" sec:authorize="hasRole('SUPERUSER')"></li>
                                <li><a th:href="@{/admin/eligibility/eligibilities}" sec:authorize="hasRole('SUPERUSER')">Eligibilities</a></li>
                                <li class="divider" sec:authorize="hasRole('SUPERUSER')"></li>
                                <li><a th:href="@{/admin/user}" sec:authorize="hasRole('SUPERUSER')">Current User</a></li>
                                <li><a th:href="@{/admin/lookup}" sec:authorize="hasRole('SUPERUSER')">Employee Lookup</a></li>
                            </ul>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div id="sidebar">
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Applicant Info</div>
                    <div class="panel-body">
                        <input type="hidden" id="applicationId" name="applicationId" th:value="${applicationId}" />
                        <span id="appName" th:text="${appName}"></span><br /><br />
                        <span id="appType" th:text="${appType}"></span>
                        <span id="appRank" th:text="${appRank}"></span> <br /><br />
                        <span id="appState" th:text="${appState}"></span>
                    </div>
                </div>

                <div th:if="${#authorization.expression('hasRole(''COORDINATOR'')')}  and ${#authorization.expression(isSubmittedState != null ? isSubmittedState : false)}">
                    <form class="form-inline">
                        <button type="button" class="btn btn-disabled">Start Review</button> &nbsp;
                    </form>
                </div>

                <div class="alert alert-success" id="alert-saved" role="alert" style="display: none;" >Inputs have been saved!</div>
                <div class="alert alert-warning" id="alert-saving" role="alert" style="display: none;">Currently Saving Inputs.</div>
            </div>
        </div>
        <div id="main">
            <div>
                <ul class="nav nav-tabs nav-justified text-left">
                    <li class="active"><a data-toggle="pill" href="#application-form" id="application-form-tab">Eligibility</a></li>
                    <li><a data-toggle="pill" href="#dossier-attachments" id="dossier-attachments-tab">Dossier</a></li>
                    <li ><a data-toggle="pill" href="#reviewers" id="reviewers-tab">Committees</a></li>
                    <li ><a data-toggle="pill" href="#recommendation" id="recommendation-tab">Recommendations</a></li>
                </ul>
            </div>

            <div class="tab-content">

                <!-- Bootstrap tab-panel fade Eligibility -->
                <div id="maintab" class="panel maintab-subpanel">
                    <div class="panel-heading">
                        <span class="panel-title">&nbsp;</span>
                        <h4 class="panel-title pull-right">
                            <a data-toggle="collapse" href="#collapseE" style="color: white;">&nbsp;
                                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                            </a>
                        </h4>
                    </div>
                    <div class="panel-group tab-content tab-pane fade in active" id="application-form">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               <div class="row">
                                   <form class="">
                                       <div>
                                           <h4>Applicant Eligibility</h4>
                                       </div>
                                   </form>
                               </div>
                            </div>
                           <div class="panel-body">
                               <form class="form-horizontal" method="post" id="eligibility">
                                   <div class="form-group">
                                       <label for="campus" class="col-sm-2 control-label">Campus</label>
                                       <div class="col-sm-10">
                                           <select id="campusId" name="campusId" class="form-control">
                                               <option value="">Select Campus</option>
                                               <option value="2">Hilo</option>
                                               <option value="7">Manoa</option>
                                               <option value="10">West Oahu</option>
                                               <option value="1">Hawaii</option>
                                               <option value="3">Honolulu</option>
                                               <option value="4">Kapiolani</option>
                                               <option value="5">Kauai</option>
                                               <option value="6">Leeward</option>
                                               <option value="8">Maui</option>
                                               <option value="9">Windward</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="subject" class="col-sm-2 control-label">Subject Area</label>
                                       <div class="col-sm-10">
                                           <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject Area"/>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="initial-rank" class="col-sm-2 control-label">Initial Appt Rank</label>
                                       <div class="col-sm-10">
                                           <select name="initialRankId" id="initialRankId" class="form-control">
                                               <option value="">Select Initial Appointment Rank</option>
                                               <option value="C2">C2</option>
                                               <option value="C3">C3</option>
                                               <option value="C4">C4</option>
                                               <option value="C5">C5</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="initial-apt-date" class="col-sm-2 control-label">Initial Appt Date</label>
                                       <div class="col-sm-10"  sec:authorize="hasRole('ROLE_COORDINATOR')">
                                           <div class="input-group date" data-provide="datepicker">
                                               <input type="text" class="form-control" id="initialDate" name="initialDate" placeholder="mm/dd/yyyy"></input>
                                               <div class="input-group-addon">
                                                   <span class="glyphicon glyphicon-th"></span>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-10" sec:authorize="!hasRole('ROLE_COORDINATOR')">
                                               <input type="text" class="form-control" id="initial-appt-date" name="initial-appt-date" placeholder="mm/dd/yyyy" disabled="disabled"/>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="initial-appt-type" class="col-sm-2 control-label">Initial Appt Type</label>
                                       <div class="col-sm-10">
                                           <select name="initialTypeId" id="initialTypeId" onchange="enableSaveCheck();"  class="form-control" th:disabled="${!user.hasRole('COORDINATOR')}">
                                               <option value="">Select Initial Appointment Type</option>
                                               <option value="9">9 month</option>
                                               <option value="11">11 month</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="current-rank" class="col-sm-2 control-label">Current Appt Rank</label>
                                       <div class="col-sm-10">
                                           <select name="currentRankId" id="currentRankId" class="form-control" onchange="enableSaveCheck();" th:disabled="${!user.hasRole('COORDINATOR')}">
                                               <option value="">Select Current Appointment Rank</option>
                                               <option value="C2">C2</option>
                                               <option value="C3">C3</option>
                                               <option value="C4">C4</option>
                                               <option value="C5">C5</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="current-appt-date" class="col-sm-2 control-label">Current Appt Date</label>
                                       <div class="col-sm-10">
                                           <div class="input-group date" data-provide="datepicker">
                                               <input type="text" class="form-control" id="currentApptDate" name="currentApptDate" placeholder="mm/dd/yyyy" />
                                               <div class="input-group-addon">
                                                   <span class="glyphicon glyphicon-th"></span>
                                               </div>
                                           </div>
                                       </div>
                                       <div class="col-sm-10">
                                               <input type="text" class="form-control" id="current-appt-date" name="current-appt-date" placeholder="mm/dd/yyyy" disabled="disabled"/>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="current-appt-type" class="col-sm-2 control-label">Current Appt Type</label>
                                       <div class="col-sm-10">
                                           <select name="currentTypeId" id="currentTypeId" class="form-control" onchange="enableSaveCheck();" th:disabled="${!user.hasRole('COORDINATOR')}">
                                               <option value="">Select Current Appointment Type</option>
                                               <option value="9">9 month</option>
                                               <option value="11">11 month</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <label for="tenure-consideration" class="col-sm-2 control-label text-left">Tenure Consideration</label>
                                       <div class="col-sm-10">
                                           <select name="considerationCode" id="considerationCode" class="form-control">
                                               <option value="appropriate">Appropriate</option>
                                               <option value="before">Before Designated Year</option>
                                               <option value="after">After Designated Year</option>
                                           </select>
                                       </div>
                                   </div>
                                   <div class="form-group">
                                       <form class="form-inline">
                                           <div class="col-xs-6 col-md-offset-2 col-md-6 text-left">
                                               <button type="submit" id="save-button" class="btn btn-default pull-left" th:disabled="true">Save</button>
                                           </div>
                                       </form>
                                   </div>
                               </form>
                               <div class="form-group" id="approval-after-upload" style="display: none;">
                                   <form class="well form-horizontal" action="#" method="post" id="uploadform">
                                       <table class="table">
                                           <tr>
                                               <td>
                                                   <label for="file-upload" class="control-label">Upload the Chancellor's approval for extending the probationary period:</label>
                                               </td>
                                               <td>
                                                   <input class="btn btn-default" type="file" name="file"></input>
                                               </td>
                                               <td>
                                                   <button class="btn btn-default" type="submit" value="Upload">Upload <i class="glyphicon glyphicon-upload"></i></button>
                                               </td>
                                           </tr>
                                       </table>
                                   </form>
                               </div>
                               <div class="form-group" id="approval-before-upload" style="display: none;">
                                   <form class="well form-horizontal" enctype="multipart/form-data" action="#" th:action="@{/admin/file}" method="post" id="uploadform">
                                       <table>
                                           <tr>
                                               <td>
                                                   <label for="file-upload" class="control-label">Upload the Chancellor's approval for shortening the probationary period:</label>
                                               </td>
                                               <td>
                                                   <input class="btn btn-default" type="file" name="file"></input>
                                               </td>
                                               <td>
                                                   <button class="btn btn-default" type="submit" value="Upload">Upload <i class="glyphicon glyphicon-upload"></i></button>
                                               </td>
                                           </tr>
                                       </table>
                                   </form>
                               </div>
                           </div>
                       </div>
                    </div>
                </div>
                <!-- End Bootstrap tab-panel fade Exclusion form. -->
            </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    /*disable non active tabs*/
    $('.nav li').not('.active').addClass('disabled');
    $('.nav li').not('.active').find('a').removeAttr("data-toggle");

    $('button').click(function(){
        /*enable next tab*/
        $('.nav li.active').next('li').removeClass('disabled');
        $('.nav li.active').next('li').find('a').attr("data-toggle","tab")
    });
});</script>

</body>

</html>
